strong{
    color:dodgerblue
}
#roleSpan, mat-radio-button{
    margin-right: 1em;
}
.formField{
    margin-bottom: 1em;
}
.formDiv{
    width: 35em;
    border: 1px black;
    margin-left: 3em;
}
#userName{
    margin-right: 3em;
}
#phoneNumber{
    margin-left: 9%;
}
#role{
    margin-left: 6em; 
}
.buttons{
    display:flex;
    justify-content: center;
}
#resetButton{
    position: relative;
    left: -30px;
}
#headerSpan{
    position: relative;
    left: 12em;
}
.example-card{
    padding: 30px;
    width: 600px;
    position: relative;
    right: -40em;
    bottom: -16em;
    border-radius: 10px;
}
.registerDiv{
    height: 900px;
    background-position: center center;
    background-image: url(https://as1.ftcdn.net/v2/jpg/01/21/32/98/1000_F_121329889_kwaDTP3cGxL9gto2JhJ4xMT6v9HVTsa4.jpg)
}
#alreadyUserSpan{
    margin-left: 12em;
}